<div role="dialog" tabindex="-1" class="modal fade" id="ModalAdd">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Ficha de Registro de Usuarios</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mt-3" action="{{ 'mantenimiento/guardarusuario'|url }}" method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="alert-container"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="d-none d-md-block" for="nombre">Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre" id="nombre" name="nombre">
                                <span class="form-validation-failed text-danger" data-key="nombre"></span>
                            </div>
                        </div>
                        <div class="col-md col-sm-6">
                            <div class="form-group">
                                <label class="d-none d-md-block" for="apaterno">Apellido Paterno</label>
                                <input type="text" class="form-control" placeholder="Apellido Paterno" id="apaterno" name="apaterno">
                                <span class="form-validation-failed text-danger" data-key="apaterno"></span>
                            </div>
                        </div>
                        <div class="col-md col-sm-6">
                            <div class="form-group">
                                <label class="d-none d-md-block" for="amaterno">Apellido Materno</label>
                                <input type="text" class="form-control" placeholder="Apellido Materno" id="amaterno" name="amaterno">
                                <span class="form-validation-failed text-danger" data-key="amaterno"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="d-none d-md-block" for="email">Correo Electrónico</label>
                                <input type="email" class="form-control" placeholder="Correo Electrónico" id="email" name="correo">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="d-none d-md-block" for="password">Contraseña</label>
                                <input type="password" autocomplete="off" class="form-control" placeholder="Contraseña" id="password" name="password">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="d-none d-md-block" for="rol">Rol</label>
                                <select class="form-control" id="rol" name="rol_id">
                                    <option value="" selected disabled>Elegir</option>
                                    {% for rol in roles %}
                                        <option value="{{ rol.id }}">{{ rol.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="float-right">
                                <button class="btn btn-dark" type="button" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-outline-success ml-2" data-confirm="" data-ajax="true">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>