{% extends 'partials/layout_coreiu.twig' %}
{% block content %}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h3>
            Bienvenido!! {{ usuario.nombre ~ ' ' ~ usuario.apaterno ~ ' ' ~ usuario.amaterno }}
        </h3>
    </div>
{% endblock %}
