{% extends 'partials/layout.twig' %}

{% block content %}
    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team</h2>
                <p class="text-center">
                    Nuestro equipo de desarrollo encargado de la creacion del sistema
                </p>
            </div>
            <div class="row people">
                <div class="col-md-4 item">
                    <div class="box" style="background-image:url({{ 'media/team/jesuscorona.jpg'|public }})">
                        <div class="cover">
                            <h3 class="name">Jesus Corona Ayala</h3>
                            <p class="title">BackEnd Developer</p>
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="box" style="background-image:url({{ 'media/team/martinfierro.jpg'|public }})">
                        <div class="cover">
                            <h3 class="name">Martin Fierro Robles</h3>
                            <p class="title">FullStack Developer</p>
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="box" style="background-image:url({{ 'media/team/gildardogracia.jpg'|public }})">
                        <div class="cover">
                            <h3 class="name">Gildardo Gracia Reyes</h3>
                            <p class="title">FrontEnd Developer</p>
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}