{% extends 'partials/layout.twig' %}

{% block content %}
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">

                        <h2 class="text-center">Inicio</h2>
                        <p class="text-center">
                            <span class="by">by</span><a href="#">Martin Fierro Robles</a>
                            <span class="date">{{ "now"|date("F d, Y") }}</span>
                        </p>
                        <!--<img src="desk.jpg" class="img-fluid" />-->
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa, eaque eos, eum expedita ipsa minima minus omnis qui quis suscipit tempore temporibus voluptate? Accusamus accusantium alias eaque incidunt quae?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur, cum, deserunt dicta dolores, earum eius eligendi et ex impedit ipsam iste libero modi nihil nostrum porro qui ratione ullam?</p>
                        <h2>Aliquam In Arcu</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque cumque dolores eligendi exercitationem expedita, id laboriosam laudantium magni omnis optio porro quasi quibusdam quo ratione tempore unde voluptatem.</p>
                        <!--<figure>
                            <img src="beach.jpg" class="figure-img" />
                            <figcaption>Caption</figcaption>
                        </figure>-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium, architecto delectus dolore doloremque esse eum exercitationem fugiat incidunt molestias nam natus, nihil placeat, quibusdam reiciendis rerum sunt vero voluptatibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}