<div role="dialog" tabindex="-1" class="modal fade" id="ModalAdd">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Ficha de Registro de Categoria</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ 'mantenimiento/eliminaru'|url }}" method="POST" class="mt-2">
                    <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label">Nombre</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-3">
                            <div class="float-right">
                                <button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-outline-success ml-2" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>